*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Turing";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: var(--color-white-light); }

:root {
  --color-primary: #eee;
  --color-primary-main: #323232;
  --color-black: #000000;
  --color-primary-sub: orangered;
  --color-white: #fff;
  --color-green: rgb(8, 151, 32);
  --color-blue: rgb(5, 135, 196);
  --color-blue-dark: rgb(9, 121, 173);
  --color-white-light: #f5f5f5;
  --color-btn: #e67e22;
  --color-gradient-light: #e28c86;
  --color-glighter: #ddd1c7;
  --color-btn-hover: #e47311;
  --color-btn-mg: #EE1D52;
  --color-desc:#76A382;
  --color-mg-main: #3C4D69;
  --grid-width: 120rem;
  --gutter-horizontal: 4rem;
  --gutter-vertical: 8rem;
  --font-primary: "Lato", Sans-serif; }

.u-margin-top {
  margin: 10px; }

.color-text {
  color: black; }

.u-mg-left {
  margin-left: 25px; }

.u-mg-left2 {
  margin-left: 12px; }

.icon {
  height: 20px;
  width: 20px;
  fill: white; }

.icon2 {
  height: 40px;
  width: 40px;
  fill: white; }

.position {
  display: flex;
  align-content: center; }

.heading-primary {
  font-size: 2rem;
  color: var(--color-white);
  letter-spacing: 1.3; }

.heading-primary2 {
  font-size: 2rem;
  color: black;
  letter-spacing: 1.3;
  font-style: italic; }

.header {
  background-color: var(--color-primary-main);
  width: 100vw;
  height: 80vh;
  background-image: url(../img/memegram.jpg);
  image-rendering: optimizeSpeed;
  background-size: cover; }
  .header__top {
    padding: 20px 22px;
    display: flex;
    justify-content: space-between; }
    .header__top-btn {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .header__content {
    display: grid;
    margin: 45px 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 200px);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .header__content--main {
      align-self: center; }
      .header__content--main p {
        margin-top: 25px;
        color: var(--color-white);
        font-weight: 400;
        line-height: 2; }

.btn {
  display: inline-block;
  padding: 10px 14px;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 8px;
  margin-left: 2rem;
  background-color: var(--color-mg-main);
  color: var(--color-white);
  outline: none;
  border: 1px solid var(--color-mg-main);
  cursor: pointer;
  display: flex;
  justify-content: space-between; }
  .btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 14px;
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 200px;
    margin-left: 2rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    outline: none;
    border: 1px solid #323232;
    cursor: pointer; }
  .btn:hover {
    background-color: var(--color-primary-main);
    color: white;
    border: 1px solid transparent; }

.btn2 {
  display: flex;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 8px;
  margin-left: 2rem;
  background-color: var(--color-btn-mg);
  color: var(--color-white);
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  width: 150px; }
  .btn2:link, .btn2:visited {
    display: inline-block;
    padding: 10px 14px;
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 2px;
    margin-left: 2rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    outline: none;
    border: 1px solid #323232;
    cursor: pointer; }
  .btn2:hover {
    background-color: var(--color-btn-mg);
    color: white;
    border: 1px solid transparent; }

.btn__more a {
  text-decoration: none;
  color: white; }
  .btn__more a:link,
  .btn__more a :visited,
  .btn__more a ::after {
    text-decoration: none;
    color: white; }

.footer {
  padding: 50px 0px;
  background-color: var(--color-primary-main); }
  .footer p {
    color: var(--color-white);
    font-weight: 400;
    line-height: 2;
    text-align: center; }

.row {
  max-width: var(--grid-width);
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: var(--gutter-horizontal); }
  .row::after {
    display: table;
    content: "";
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: var(--gutter-horizontal); }
  .row .col-1-of-2 {
    width: calc((100% - var(--gutter-horizontal)) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * var(--gutter-horizontal)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * var(--gutter-horizontal)) / 3 ) + var(--gutter-horizontal)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * var(--gutter-horizontal)) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * var(--gutter-horizontal)) / 4) + var(--gutter-horizontal)); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * var(--gutter-horizontal)) / 4) + ( 2 * var(--gutter-horizontal))); }

.section__desc {
  height: 20vh;
  width: 100vw;
  padding: 20px; }
  .section__desc--box {
    display: flex; }
  .section__desc--details p {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: grey; }
  .section__desc--content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 170px;
    background-color: var(--color-desc);
    border-radius: 200px; }
    .section__desc--content img {
      height: 45px;
      width: 45px; }

.section__details {
  padding: 50px 0px;
  background-color: var(--color-primary-main); }
  .section__details--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 40px; }
    .section__details--grid-content {
      display: flex;
      color: white; }
      .section__details--grid-content svg {
        align-self: flex-start; }
      .section__details--grid-content--details p {
        margin-top: 15px;
        color: var(--color-white);
        font-weight: 400;
        line-height: 2; }

.section__gallery {
  padding: 50px 0px;
  background-color: var(--color-white); }
  .section__gallery--details {
    align-self: center; }
    .section__gallery--details p {
      margin-top: 15px;
      color: black;
      font-weight: 400;
      line-height: 2; }
  .section__gallery--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 300px);
    grid-gap: 40px; }
    .section__gallery--grid--images {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr); }
      .section__gallery--grid--images img {
        width: 100%; }
      .section__gallery--grid--images--1 {
        grid-row: 2 / 6;
        grid-column: 2 / 6; }
      .section__gallery--grid--images--2 {
        grid-row: 4 / 6;
        grid-column: 4 / 7; }

.section-testimonials {
  display: flex;
  flex-direction: column;
  padding: 50px 0px; }
  .section-testimonials__note {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Turing";
    text-align: center; }
    .section-testimonials__note h4 {
      margin: 1rem;
      font-size: 2rem; }
    .section-testimonials__note p {
      font-size: 1.3rem;
      width: 70%; }
  .section-testimonials__container {
    align-self: center;
    font-family: var(--font-display);
    justify-self: center;
    background-color: #476ce4;
    color: var(--color-white);
    margin: 20px 0;
    border-radius: 15px;
    padding: 5rem 8rem;
    max-width: 768px;
    position: relative; }

.user {
  display: flex;
  margin-top: 2rem;
  align-self: center; }
  .user img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
    border: 3px solid var(--color-white); }
  .user div h6 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .5rem; }
  .user div p {
    font-size: 1.3rem; }

.fa {
  color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  top: 4rem;
  position: absolute; }

.fa-quote-right {
  left: 50px; }

.fa-quote-left {
  right: 50px; }

.progress-bar {
  background-color: var(--color-white);
  height: 4px;
  width: 100%;
  margin-bottom: 1.2rem;
  margin-top: -1rem;
  border-radius: 50px;
  animation: grow 10s linear infinite;
  transform-origin: left; }

@keyframes grow {
  0% {
    transform: scaleX(0); } }

.testimonial {
  font-weight: 400; }

.userrole {
  font-weight: 500; }

.section-testimonials-brands {
  margin-top: 5rem; }
  .section-testimonials-brands__content {
    display: flex; }
    .section-testimonials-brands__content-brand {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: var(--font-display); }
      .section-testimonials-brands__content-brand img {
        height: 2rem;
        width: 2rem;
        margin-bottom: 2rem; }
      .section-testimonials-brands__content-brand p {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 300;
        text-align: center; }
