.u-margin-top {
  margin: 10px;
}

.color-text {
  color: black;
}

.link-home {
  text-decoration: none;

  &:link,
  &:visited {
    text-decoration: none;
  }
}

.u-style-sec {
  background-color: var(--color-primary-main);
}

.u-mg-left {
  margin-left: 25px;
}

.u-mg-left2 {
  margin-left: 12px;
}

@mixin clearfix {
  &::after {
    display: table;
    content: "";
    clear: both;
  }
}

.icon {
  height: 20px;
  width: 20px;
  fill: white;
}

.icon2 {
  height: 40px;
  width: 40px;
  fill: white;
}

.position {
  display: flex;
  align-content: center;
}
