//this involve the overall project settings

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Turing";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
    overflow-x: hidden;

    background-color: var(--color-white-light);
}