.header__learn {
  height: 45px;
  width: 100vw;
  background-color: var(--color-primary-main);

  display: flex;
  align-items: center;

  &--logo {
      display: flex;

      h2 {
          font-size: 14px;
          color: white;
          margin-left: 20px;
      }
    img {
      height: 20;
      width: 20;
      margin-left: 20px;
    }
  }
}
